.background {
  background: center no-repeat url(https://raw.githubusercontent.com/betojsc/json-Horario/master/css/FB_IMG_1506894198072.jpg);
}

.logo {
  background-image: url(https://raw.githubusercontent.com/betojsc/json-Horario/master/css/Varus.jpg);
}

.progressBar {
  background-color: rgb(255, 0, 0);
}

.splash {
  background-image: url(https://raw.githubusercontent.com/betojsc/json-Horario/master/css/ashe.jpg);
}

.watermark {
  background-image: url(https://raw.githubusercontent.com/betojsc/json-Horario/master/css/ic_launcher-web.png);
  background-size: 57px 57px;
}