.background {
  background-color: rgb(60,63,64);
}

.logo {
  background-image: url(https://raw.githubusercontent.com/betojsc/json-Horario/master/css/maya_tv_ic_launcher-web.png);
}

.progressBar {
  background-color: rgb(255, 0, 0);
}

.splash {
  background-image: url(https://raw.githubusercontent.com/betojsc/json-Horario/master/css/splashcast.png);
}

.watermark {
  background-image: url(https://raw.githubusercontent.com/betojsc/json-Horario/master/css/ic_launcher-web.png);
  background-size: 57px 57px;
}